<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/figma-one.css" />
  <title>Navbar Design</title>
</head>


<body>
  <!-- site-contaoner start -->
  <div id="site-container">

    <div class="container">
      <header>
        <span class="image-clickable">
          <a href="">
            <img src="/public/images/logo.svg" alt="main-logo" class="img-logo" />
          </a>
        </span>
        <nav>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#"> Landing </a></li>
            <li><a href="#">Pages </a></li>
            <li><a href="#"> Docs </a></li>
            <li><a href="#"> Help </a></li>
            <li><a class="get-btn">Get it now</a></li>
          </ul>
        </nav>
        <!-- end navbar -->

        <!-- end header  -->
    </div>
    </header>
    <!-- section one strat  -->
    <section>
      <!-- box start  -->
      <div class="box">

        <!-- leftbox start  -->
        <div class="leftbox">
          <div class="t1">
            <h1>Number #1,<br>
              Southern Asia <br>
              Digital Product Agency </h1>
          </div>

          <!-- bootstrap icon -->
          <div class="arrow">
            <i class="bi bi-arrow-down-circle"></i>
            </div>
          <div class="t2">
            <p class="t33">
              We bring the results while helping you achieve cost and time 
              savings without taking on risk or management overhead.</p>

          </div>
          <a class="get-btn1" href=""> See Our Portfolio </a>
        </div>
        

        <!-- rightbox start  -->
        <div class="rightbox">
          <img src="/images/front.png" class="img" />


          <div>
          </div>
    </section>
    <!-- section one end  -->
    <!-- second section start   -->
    <section>
      <div class="container">
        <div class="our-services">
          <div class="row">
            <div class="cols">
              <p class="head1">OUR PARTENR</p>
              <p class="head3">We've Worked with them,<br>
                we Trust Each Other</p>
            </div>

            <div class="cols-secound">
              <p class="head32">Our team provides high-level creative education to <br>
                a global audience of students, educators, and<br>
                entrepreneurs all over the world</p>
            </div>
          </div>


        </div>
      </div>
    </section>


    <!-- second section end -->
    <!--
section third start -->
    <section class="third-section">
      <div class="container">

        <div class="third-section">
          <div class="rowt">
            <div class="colst">
            <img src="/images/slack.png">
            </div>
            <div class="colst">
              <img src="/images/netflix.svg" width="50%">
              </div>
              <div class="colst">
                <img src="/images/fitbit.png">
                </div>
                <div class="colst">
                  <img src="/images/google.png">
                  </div>
                  <div class="colst">
                    <img src="/images/airbnb.png">
                    </div>
                    <div class="colst">
                      <img src="/images/uber.svg" width="50%">
                      </div>
          </div>


        </div>


      </div>
    </section>
    <!--
section third end -->
    <!-- section four start  -->
    <section>
      <div class="container">

        <div class="boxes">
   


          <div class="leftbox-section1">
            <div class="img-p">
              <img src="/images/Oval.png">
            </div>
            <div>
              <p class="box-bold"> Branding Identity</p>
              <p class="box-light"> We code your apps, website and dashboard to you.</p>
            </div>
          </div>

          <div class="leftbox-section1">
            <div class="img-p">
              <img src="/images/Oval.png">
            </div>
            <div>
              <p class="box-bold"> Development</p>
              <p class="box-light"> We code your apps, website and dashboard to you</p>
            </div>
          </div>
        
      
        
        
          <div class="rightbox-section1">
            <div class="img-p">
              <img src="/images/Oval.png">
            </div>
            <div>
              <p class="box-bold">UI/UX Design</p>
              <p class="box-light">Making beautifull and intuitive design digital product.</p>
            </div>
          </div>
        
        
          <div class="rightbox-section1">
            <div class="img-p">
              <img src="/images/Oval.png">
            </div>
            <div>
              <p class="box-bold">Microstock</p>
              <p class="box-light">We produce million asset for your business needs.</p>
            </div>
            
          </div>
          <div class="leftbox-section1">
            <div class="img-p">
              <img src="/images/Oval.png">
            </div>
            <div>
              <p class="box-bold">Social Media</p>
              <p class="box-light">Planning and maintenance social media for reach audience</p>
            </div>
          </div>
          <div class="leftbox-section1">
            <div class="img-p">
              <img src="/images/Oval.png">
            </div>
            <div>
              <p class="box-bold">Research</p>
              <p class="box-light">Helping research startup or brand to business needs.</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </section>
    <!-- section  four end -->
    <!-- secrtion five strat -->
    <section>
      <div class="container">
        <div class="section-five">

              <div>
                <p class="head2">PORTFOLIO</p>
                <p class="head1">Our Projects</p>
              </div>
            </div>
      </div>
    </section>
    <!-- section five end-->

    <!-- section OUR TIPS FOR YOU start   -->
    <section>
      <div class="container">
        <div class="section-six">
        
          <!-- row tsrat  -->
          <div class="row-six-section">
            <!-- start col1  -->
                <div class="cols-six-section">
                            <div>
                              <img src="/images/Photo.png">
                            </div>
                            <div><h3>Apps,MObile,iOs</h3>
                              <h2>Apps Project</h2>
                            </div>
              </div>
              
                <div class="cols-six-section">
                  <div>
                    <img src="/images/Photo.png">
                  </div>
                  <div><h3>Apps,MObile,iOs</h3>
                    <h2>Apps Project</h2>
                  </div>
                  </div>
    
                    <div class="cols-six-section">
                      <div>
                        <img src="/images/Photo.png">
                      </div>
                      <div><h3>Apps,MObile,iOs</h3>
                        <h2>Apps Project</h2>
                      </div>
                    </div>

          </div>
    
      </div>
    </section>
    <!-- 
  <new star t -->
    <section>
      <div class="container">
        <div class="section-six">
          <div>
            <p class="head1">TESTIMONIALS</p>
            <p class="head2">What People Say about Us</p>
          </div>
<!-- <stasrt -->
  <div class="boxest">
  
    <div class="leftbox-section1t">
      <div class="img-p">
        <img src="/images/Oval.png">
      </div>
      <div>
        <p class="box-bold"> Valdemar Forsberg</p>
        <p class="box-light">VP Manager - Lizlle Company</p>

        <p class="box-lightt">“Their UI/UX skills and experience, were key to identifying
          potential friction points within our Business Processes, which they fixed or streamlined
          beautifull”.</p>
      </div>
      </div>
   

    <div class="rightbox-section1t">
      <div class="img-p">
        <img src="/images/Oval.png">
      </div>
      <div>
        <p class="box-bold"> Development</p>
        <p class="box-light"> We code your apps, website and dashboard to you</p>
        <p class="box-lightt">“Their UI/UX skills and experience, were key to identifying
          potential friction points within our Business Processes, which they fixed or streamlined
          beautifull”.</p>
      </div>
    </div>
  </div>

</div>
  <!-- end   -->
   </div>
  </div>
  </section>
    



  <!-- section social media   start-->

  <section>
    <div class="container">
      <div class="our-services">

        <div>
          <p class="head1">OUR SOCIAL MEDIA</p>
        </div>
        <div class="center">
          <p class="head3">Let’s be Friends</p>
        </div>

  

        <div class="rowo">


          <div class="colso">
            <img src="/images/instagram.png" class="colso-img">
            <h2 class="colso-img">Instagram</h2>
            <h3 class="colso-img">For our Portfolio and Daily activities in office</h3>
            <a class="colso-img">Follow Us </a>
          </div>




          <div class="colso">
            <img src="/images/twitter.png" class="colso-img">
            <h2 class="colso-img">Twitter</h2>
            <h3 class="colso-img">For random thoughts and funny things</h3>
            <a class="colso-img">Follow Us </a>
          </div>




          <div class="colso">
            <img src="/images/dribbble.png" class="colso-img">
            <h2 class="colso-img">Dribbble</h2>
            <h3 class="colso-img">For Updated & Detailed all of Our Portfolio

            </h3>
            <a>Follow Us </a>
          </div>
          
          <div class="colso">
            <img src="/images/youtube.png" class="colso-img">
            <h2 class="colso-img">Youtube</h2>
            <h3 class="colso-img">For our video about tutorial and tips on design industry</h3>
            <a class="colso-img">Subscribe</a>
          </div>



        </div>
      </div>

    </div>
</div>
</section>

    <!-- last section start  -->
    <section class="last-section">
       <div class="container">
              <div class="before-footer">
                <p class="t3">  We’re Ready for a Challenging Project</p>
                <p class="head123">Send us your brief and tell your project too. We are ready to help all you need</p>
                <a class="get-btn">  Let's Discuss it !</a>
                </div>
        </div>
      
    </section>

    <!-- last section end  -->

    <!-- section OUR TIPS FOR YOU ends   -->
    <!-- site contaoner close  </div> -->
  </div>

  <footer>
    <section class="section-footer">

      <div class="footer">
        <div class="footer-1" style="width: 30%;padding-left: 100px;">
          <div class="row-footer">

            <div class="cols-footer">
              <img src="/images/logowhite.png" style="height: 100%; width: 100%;">

              <h5 class="before-logo">Build a modern and creative
                website with crealand</h5>
              <img src="/public/images/social.png">
            </div>
          </div>
        </div>

        <div class="footer-2" style="width: 70%;">

          <div class="row-footer" style="display: flex;">
            <div class="cols-footer">
              <h2 class="before-logo">Product</h2>
              <ul>
                <li class="before-logo">Landingpage</li>
                <li class="before-logo">Feature</li>
                <li class="before-logo">Documentation</li>
                <li class="before-logo">Referral Program</li>
                <li class="before-logo">Pricing</li>
              </ul>
            </div>

            <div class="cols-footer">

              <h2 class="before-logo">Services</h2>
              <ul>
                <li class="before-logo">Documentation</li>
                <li class="before-logo">Design</li>
                <li class="before-logo">Themes</li>
                <li class="before-logo">Illustrations</li>
                <li class="before-logo">UI Kit</li>
              </ul>
            </div>

            <div class="cols-footer">
              <h2 class="before-logo">Company</h2>
              <ul>
                <li class="before-logo">About</li>
                <li class="before-logo">Terms</li>
                <li class="before-logo">Themes</li>
                <li class="before-logo">Privacy Policy</li>
                <li class="before-logo">Careers</li>
              </ul>
            </div>

            <div class="cols-footer">
              <h2 class="before-logo">More</h2>
              <ul>
                <li class="before-logo">Documentation</li>
                <li class="before-logo">License</li>
                <li class="before-logo">Changelog</li>
              </ul>
            </div>

          </div>

        </div>

      </div>

      <div>
        <img src="/public/images/likephoto.png" class="imgagee">
        <h2 class="copy">Copyright © 2019. Crafted with love.</h2>
      </div>
    </section>
  </footer>
</body>

</html>