<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 
</head>
<style>
  

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

.row2 {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row2 :after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;

}
aq  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
<body>

<div class="container">
    
                <form  action="/logout" method="post">
                    <input  type="submit" value="Logout" class="w3-btn w3-blue"></input>
                </form>
                 <h1>Welcome <%= user_data.name  %> !</h1>
               
                 <h2></be></u>Projects</h2>
                 
<div class="row">
               
                      
                  <div class="column">
                    <div class="card">
                      <h3>Tic-Tac-Toe</h3>
                      <a href="/tic-tac-toe">Tic-Tac-Toe</a> 
                   
                    </div>
                  </div>
          

                  <div class="column">
                            <div class="card">
                            <h3>Color-cube</h3>
                            <a href="/ColorCube">Color-cube</a> 
                        
                            </div>
                       </div>

                 <div class="column">
                  <div class="card">
                  <h3>figma-one</h3>
                  <a href="/figma-one">figma-one</a> 
              
                  </div>
                  </div>

                    
                    <div class="column">
                      <div class="card">
                      <h3>figma-two</h3>
                      <a href="/figma-two">Color-cube</a> 
                      </div>
                    </div>

                    <div class="column">
                      <div class="card">
                      <h3>Data-Table-Grid</h3>
                      <a href="http://localhost:8000">Data-Table-Grid</a> 
    
                      
                   </div>
</div>      
<div class="row2">
                <div class="column">
                  <div class="card">
                  <h3>pagenation</h3>
                  <a href="http://localhost:4000/sort/?page=1">pagenation</a>    
               </div>
               </div>

               <div class="column">
                <div class="card">
                <h3>Job-Application</h3>
                <a href="http://localhost:2000/form">Job-Application</a> 
             </div>
             </div>

             <div class="column">
              <div class="card">
              <h3>ShowAll</h3>
              <a href="http://localhost:2000/search">ShowAll</a> 
           </div>
           </div>
        
       
  
</div>
</div>
</body>

</html>